.carouselSlider {
    width: 100%;
    display: flex;
    overflow-x: scroll;

    column-gap: 10px;

    padding: 10px 0;

}

.carouselSlider .carouselSliderItem {
    flex: none;
    width: 60%;
    height: 100%;
    background-color: var(--bgclr2);

    /*height: 175px;*/
    box-shadow: var(--shd1);
    border-radius: 10px;
}

.carouselSlider .carouselSliderItem.hide {
    display: none;
}