<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CheckIT</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'vars.css' %}" />

    <link rel="stylesheet" href="{% static 'student_app/student_app.css' %}" />
  </head>
  <body>
    <div id="library">
      <h1>library</h1>
      <p>{{library}}</p>
    </div>

    <div id="rooms">
      <h1>availble rooms</h1>
      <p>{{avRooms}}</p>      
    </div>

    <div id="rooms">
      <h1>rooms</h1>
      <p>{{allRooms}}</p>      
    </div>
  </body>
</html>
