<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'vars.css' %}" />
    <link rel="stylesheet" href="{% static 'widgets/buttons.css' %}" />
    <link rel="stylesheet" href="{% static 'auth_app/auth_app.css' %}" />
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}

      <h1>SignIn</h1>

      <input
        type="text"
        name="username"
        id=""
        placeholder="user serial number"
      />
      <input type="password" name="password" id="" placeholder="password" />

      <button type="submit">SignIn</button>
    </form>
  </body>
</html>
